<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Email Dashboard</title>
</head>
<body>
    <h1>Recent Emails</h1>
    <table border="1">
        <tr>
            <th>Subject</th>
            <th>From</th>
            <th>Received Date</th>
        </tr>
        {% for email in emails %}
        <tr>
            <td>{{ email.subject }}</td>
            <td>{{ email.from.emailAddress.name }}</td>
            <td>{{ email.receivedDateTime }}</td>
        </tr>
        {% endfor %}
    </table>
    <p><a href="{{ url_for('maildash.send_email') }}">Send a New Email</a></p>
</body>
</html>
