<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Send Email</title>
</head>
<body>
  
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul>
      {% for category, message in messages %}
          <li style="border-left-color: {% if category == 'success' %}#28a745{% elif category == 'danger' %}#dc3545{% endif %};">
              <strong>{{ category.capitalize() }}:</strong> {{ message }}
          </li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

    <h1>Send an Email</h1>
    <form method="POST">
        <label for="to_email">To:</label><br>
        <input type="email" id="to_email" name="to_email" required><br><br>

        <label for="subject">Subject:</label><br>
        <input type="text" id="subject" name="subject" required><br><br>

        <label for="body">Body:</label><br>
        <textarea id="body" name="body" rows="5" cols="40" required></textarea><br><br>

        <input type="submit" value="Send Email">
    </form>

    <p><a href="{{ url_for('maildash.dashboard') }}">Back to Dashboard</a></p>
</body>
</html>
